<div>
    <nav id="header-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a ng-href="#/"><h1>Bon Appétit</h1></a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <div id="collapsable-nav" class="collapse navbar-collapse">
            <ul id="nav-list" class="nav navbar-nav navbar-right">
                <li ng-show="!model.getLoggedIn._id">
                    <a ng-href="#/login"
                       class="login-header-element">
                        Login
                    </a>
                </li>
                <li ng-show="!model.getLoggedIn._id">
                    <a ng-href="#/register"
                       class="register-header-element">
                        Register
                    </a>
                </li>

                <li ng-show="model.getLoggedIn._id">
                    <a ng-href="#/profile/{{model.getLoggedIn._id}}/admin"
                       ng-show="model.getLoggedIn.roles.indexOf('ADMIN')>-1"
                       class="profile-header-element">
                        ADMIN
                    </a>
                </li>
                <li ng-show="model.getLoggedIn._id">
                    <a ng-href="#/profile/{{model.getLoggedIn._id}}"
                       class="profile-header-element">
                        Welcome, {{model.getLoggedIn.firstName}}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div class="restaurant-details" ng-hide="model.restaurantDetails.location.latitude === '0.0000000000'">
    <ng-map center="{{model.restaurantDetails.location.latitude}}, {{model.restaurantDetails.location.longitude}}">
        <marker position="{{model.restaurantDetails.location.latitude}}, {{model.restaurantDetails.location.longitude}}"></marker>
    </ng-map>
</div>

<div class="restaurant-details" ng-hide="model.restaurantDetails.location.latitude !== '0.0000000000'">
    <ng-map center="{{model.restaurantDetails.location.address}}">
        <marker position="{{model.restaurantDetails.location.address}}"></marker>
    </ng-map>
</div>

<div class="container-fluid">
    <div class="col-sm-4">
        <div class="media-left media-middle">
            <img class="restaurant-image media-object img-responsive"
                 ng-hide="model.restaurantDetails.featured_image === ''"
                 ng-src="{{model.restaurantDetails.featured_image}}"
                 alt="{{model.restaurantDetails.name}}">
            <img class="restaurant-image media-object img-responsive"
                 ng-show="model.restaurantDetails.featured_image === ''"
                 ng-src="https://digital-photography-school.com/wp-content/uploads/2016/06/Rachel-Korinek-Food-Photographer-DPS-Hero-Angle-12.jpg"
                 alt="{{restaurant.name}}">
        </div>
    </div>
    <div class="col-sm-8">
        <div class="restaurant-details-page">
            <h2 class="restaurant-name media-heading">{{model.restaurantDetails.name}} &nbsp;</h2>

            <h2>
                <a ng-show="model.getLoggedIn._id"
                   ng-click="model.likeRestaurant(model.restaurantDetails.id)">
                    <i ng-if="!model.isLiked"
                       class="glyphicon-before glyphicon glyphicon-thumbs-up">
                    </i>
                </a>

                <a ng-show="model.getLoggedIn._id"
                   ng-click="model.unLikeRestaurant(model.restaurantDetails.id)">
                    <i ng-if="model.isLiked"
                       class="glyphicon-after glyphicon glyphicon-thumbs-up">
                    </i>
                </a>

                <a ng-show="model.getLoggedIn._id"
                   ng-click="model.visited(model.restaurantDetails.id)">
                    <i ng-if="!model.been"
                       class="glyphicon-before glyphicon glyphicon-map-marker">
                    </i>
                </a>

                <a ng-show="model.getLoggedIn._id"
                   ng-click="model.undoVisited(model.restaurantDetails.id)">
                    <i ng-if="model.been"
                       class="glyphicon-after glyphicon glyphicon-map-marker">
                    </i>
                </a>
            </h2>



            <h3 class="restaurant-cuisines">
                <span ng-repeat="cuisines in model.restaurantDetails.cuisines.split(',') | limitTo: 3">
                    <span class="label label-default label-as-badge">
                        {{cuisines}}
                    </span>&nbsp;
                </span>
            </h3>
            <div class="restaurant-cost"><span class="content">Cost for two </span>:&nbsp;&nbsp; {{model.restaurantDetails.currency}}{{model.restaurantDetails.average_cost_for_two}}</div>
            <div class="restaurant-locality"><span class="content">Locality &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>:&nbsp;&nbsp; {{model.restaurantDetails.location.locality}}</div>
            <div class="restaurant-city"><span class="content">City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>:&nbsp;&nbsp; {{model.restaurantDetails.location.city}}</div>
            <div class="restaurant-address"><span class="content">Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>:&nbsp;&nbsp; {{model.restaurantDetails.location.address}}</div><br>
            <div class="restaurant-menu"><a ng-if="model.restaurantDetails.name" class="restaurant-menu" href="{{model.restaurantDetails.menu_url}}" target="_blank">Checkout the menu for {{model.restaurantDetails.name}}</a></div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="model.getLoggedIn._id">
    <div class="col-xs-12 col-sm-8 restaurant-review">
        <div ng-repeat="reviews in model.reviews">
            <ul class="list-group">
                <li class="list-group-item">
                    <a ng-href="#/profile/{{reviews.userId}}"><img class="profile-picture-small" ng-src="{{reviews.profilePic}}"></a>

                    <span class="user-list">
                        <a ng-href="#/profile/{{reviews.userId}}">
                            {{reviews.firstName}} {{reviews.lastName}}
                        </a>
                    </span>

                    <button ng-show="model.getLoggedIn._id === reviews.userId"
                            ng-click="model.deleteReview(reviews._id)"
                            data-toggle="modal"
                            data-target="#deleteModal"
                            class="btn btn-danger pull-right">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>

                    <button ng-show="model.getLoggedIn._id === reviews.userId"
                            ng-click="model.selectReview(reviews)"
                            data-toggle="modal"
                            data-target="#updateModal"
                            class="update-btn btn btn-primary pull-right">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>

                    <h1 class="review-summary">{{reviews.summary}}</h1>
                    <p class="review-description">{{reviews.description}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-8 restaurant-review">
    <div class="alert alert-danger"
         ng-show="model.error">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        {{model.error}}
    </div>
</div>

<div class="container-fluid" ng-show="model.getLoggedIn._id">

    <div class="col-xs-12 col-sm-8 restaurant-review">
        <label for="summary">Summary</label>
        <input class="form-control"
               ng-model="summary"
               placeholder="Review Summary"
               id="summary"/>

        <label for="description">Description</label>
        <textarea id="description"
                  ng-model="description"
                  rows="8"
                  placeholder="Detailed description"
                  class="form-control"></textarea>

        <a ng-click="model.createReview(summary, description); summary=null; description=null;"
           class="submit-btn btn btn-primary btn-success pull-right">
            Submit
        </a>
    </div>
</div>

<div class="modal fade" id="updateModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <label for="modal-summary">Summary</label>
                <input class="form-control"
                       ng-model="model.review.summary"
                       placeholder="Review Summary"
                       id="modal-summary"/><br>

                <label for="modal-description">Description</label>
                <textarea id="modal-description"
                          ng-model="model.review.description"
                          rows="5"
                          placeholder="Detailed description"
                          class="form-control"></textarea>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="modal-button btn btn-default btn-primary"
                        data-dismiss="modal"
                        ng-click="model.updateReview(model.review)">
                    Update
                </button>
                <button type="button"
                        class="modal-button btn btn-default btn-primary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>