<div id="wrapper" data-spy="scroll" data-target="#sidebar-wrapper">

    <div ng-include="'views/users/templates/profile/sidebar.profile.view.client.html'"></div>

    <a href="#menu-toggle"
       id="menu-toggle"
       class="profile-menu btn btn-default">
        <i class="glyphicon glyphicon-menu-right"></i>
    </a>

    <div class="container-fluid">
        <ul class="list-group" dir-paginate="following in model.following | itemsPerPage:5">
            <li class="list-group-item">
                <span>
                    <a ui-sref="index.profile({userId : following._id})">
                        <img class="follow-profile-picture" ng-src="{{following.image}}">
                    </a>
                </span>
                <a ui-sref="index.profile({userId : following._id})">
                    {{following.firstName}} {{following.lastName}}
                </a>
            </li>
        </ul>
        <dir-pagination-controls
                max-size="10"
                direction-links="true"
                boundary-links="true">
        </dir-pagination-controls>
    </div>

</div>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $(this).find('i').toggleClass('glyphicon-menu-right').toggleClass('glyphicon-menu-left');
    });
</script>