<div>
    <nav id="header-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a ng-href="#menu-toggle"
                       id="menu-toggle">
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </a>
                    <a ng-href="#/">
                        <h1 class="main-heading">Bon Appétit</h1>
                    </a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <div ng-include="'views/common/templates/header.view.client.html'"></div>
    </nav>
</div>

<div id="wrapper" data-spy="scroll" data-target="#sidebar-wrapper">

    <div ng-include="'views/users/templates/profile/sidebar.profile.view.client.html'"></div>

    <div class="container-fluid profile restaurant-search-list">

        <div class="alert alert-danger"
             ng-show="model.errorMessage">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            {{model.errorMessage}}
        </div>

        <div class="alert alert-success"
             ng-show="model.successMessage">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            {{model.successMessage}}
        </div>

        <form>

            <div class="form-group">
                <label for="first-name">First Name</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-option-horizontal"></i>
                    </span>
                    <input type="text"
                           id="first-name"
                           class="form-control"
                           placeholder="First Name"
                           ng-model="model.user.firstName">
                </div>
            </div>

            <div class="form-group">
                <label for="last-name">Last Name</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-option-horizontal"></i>
                    </span>
                    <input type="text"
                           id="last-name"
                           class="form-control"
                           placeholder="Last Name"
                           ng-model="model.user.lastName">
                </div>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input type="text"
                           id="username"
                           class="form-control"
                           placeholder="Username"
                           ng-model="model.user.username"
                           disabled>
                </div>
            </div>

            <div ng-if="model.userId === model.currentUser._id" class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input type="password"
                           id="password"
                           class="form-control"
                           placeholder="Password"
                           ng-model="model.user.password"
                           disabled>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </span>
                    <input type="text"
                           id="email"
                           class="form-control"
                           placeholder="Email address"
                           ng-model="model.user.email">
                </div>
            </div>

            <div class="form-group">
                <label for="phone">Email</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-earphone"></i>
                    </span>
                    <input type="tel"
                           id="phone"
                           class="form-control"
                           placeholder="Phone number"
                           ng-model="model.user.phone">
                </div>
            </div>

        </form>

        <div ng-if="model.userId === model.currentUser._id" class="form-group">
            <div class="form-group">
                <label for="image">Profile Picture</label>
                <form action="/api/project/upload" method="post" enctype="multipart/form-data">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-upload"></i>
                            </span>
                        <input name="myFile"
                               type="file"
                               id="image"
                               class="form-control" />
                        <input  name="userId" value="{{model.currentUser._id}}" style="display: none"/>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary upload">Upload Image</button>
                </form>
            </div>
        </div>

        <div ng-if="model.userId === model.currentUser._id"
             class="form-group">
            <a class="btn btn-block btn-primary"
               data-toggle="modal"
               data-target="#updateModal">
                Update
            </a>
        </div>

        <div ng-if="model.userId === model.currentUser._id"
             class="form-group">
            <a class="btn btn-block btn-primary"
               data-toggle="modal"
               data-target="#deleteModal">
                Delete
            </a>
        </div>

        <div ng-if="model.userId === model.currentUser._id"
             class="form-group">
            <a ng-click="model.logout()"
               class="btn btn-block btn-primary">
                Logout
            </a>
        </div>

        <div class="modal fade" id="updateModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5><button type="button"
                                    class="close"
                                    data-dismiss="modal">
                            &times;
                        </button>
                        </h5>
                        <h5>Are you sure wanna update your details ?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                                class="modal-button btn btn-default btn-primary"
                                data-dismiss="modal"
                                ng-click="model.updateUser(model.user)">
                            Yes
                        </button>
                        <button type="button"
                                class="modal-button btn btn-default btn-primary"
                                data-dismiss="modal">
                            No
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5><button type="button"
                                    class="close"
                                    data-dismiss="modal">
                            &times;
                        </button>
                        </h5>
                        <h5>Are you sure wanna delete your account ?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="modal-button btn btn-default btn-primary"
                                ng-click="model.deleteUser()"
                                data-dismiss="modal">
                            Yes
                        </button>
                        <button type="button"
                                class="modal-button btn btn-default btn-primary"
                                data-dismiss="modal">
                            No
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>


