<div id="sidebar-wrapper" data-spy="affix">
    <ul class="sidebar-nav">
        <li ng-controller="sidebarController as model">
            <img class="profile-picture"
                 ng-src="{{model.user.image}}">
        </li>
        <li>
            <h4>
                <span class="sidebar-menu profile-name">
                    {{model.user.username}}
                </span>
                <i ng-if="model.userId === model.currentUser._id"
                   ng-show="model.currentUser.roles.indexOf('CONNOISSEUR')>-1"
                   class="fa fa-check-circle" aria-hidden="true">
                </i>
            </h4>
        </li>
        <li ng-if="model.userId === model.currentUser._id"
            ng-hide="model.currentUser.roles.indexOf('ADMIN')>-1 || model.currentUser.roles.indexOf('CONNOISSEUR')>-1"
            class="connoisseur">
            <a ng-href="#/profile/{{model.userId}}/connoisseur/application">
                <button class=" btn btn-primary btn-warning">
                    Be a connoisseur
                </button>
            </a>
        </li>
        <li ng-if="model.userId === model.currentUser._id"
            ng-show="model.currentUser.roles.indexOf('CONNOISSEUR')>-1"
            class="connoisseur">
            <button class=" btn btn-primary btn-warning">
                Connoisseur
            </button>
        </li>
        <li ng-if="model.userId === model.currentUser._id"
            ng-show="model.currentUser.roles.indexOf('ADMIN')>-1"
            class="connoisseur">
            <a ng-href="#/profile/{{model.currentUser._id}}/admin">
                <button class=" btn btn-primary btn-warning">
                    Admin
                </button>
            </a>
        </li>
        <li ng-if="model.userId !== model.currentUser._id"
            class="follow">
            <button ng-show="!model.isFollow"
                    class=" btn btn-primary btn-success"
                    ng-click="model.follow(model.userId)">
                FOLLOW
            </button>
        </li>
        <li ng-if="model.userId !== model.currentUser._id"
            class="follow">
            <button ng-show="model.isFollow"
                    class=" btn btn-primary btn-danger"
                    ng-click="model.unfollow(model.userId)">
                UNFOLLOW
            </button>
        </li>
        <li>
            <a ng-href="#/profile/{{model.userId}}">
                <i class="gly glyphicon glyphicon-cog"></i>&nbsp;&nbsp;
                <b><span class="sidebar-menu">Profile</span></b>
            </a>
        </li>
        <li>
            <a ng-href="#/profile/{{model.userId}}/likes">
                <i class="gly glyphicon glyphicon-thumbs-up"></i>&nbsp;&nbsp;
                <b><span class="sidebar-menu">Likes</span></b>
            </a>
        </li>
        <li>
            <a ng-href="#/profile/{{model.userId}}/visited">
                <i class="gly glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;
                <b><span class="sidebar-menu">Visited</span></b>
            </a>
        </li>
        <li>
            <a ng-href="#/profile/{{model.userId}}/followers">
                <i class="gly glyphicon glyphicon-user"></i>&nbsp;&nbsp;
                <b><span class="sidebar-menu">Followers</span></b>
            </a>
        </li>
        <li>
            <a ng-href="#/profile/{{model.userId}}/following">
                <i class="gly glyphicon glyphicon-user"></i>&nbsp;&nbsp;
                <b><span class="sidebar-menu">Following</span></b>
            </a>
        </li>
        <li>
            <a ng-href="#/profile/{{model.userId}}/reviews">
                <i class="gly glyphicon glyphicon-comment"></i>&nbsp;&nbsp;
                <b><span class="sidebar-menu">Reviews</span></b>
            </a>
        </li>
    </ul>
</div>