<div>
    <nav id="header-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a ng-href="#/"><h1>Bon Appétit</h1></a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <div id="collapsable-nav" class="collapse navbar-collapse">
            <ul id="nav-list" class="nav navbar-nav navbar-right">
                <li ng-show="!model.getLoggedIn._id">
                    <a ng-href="#/login"
                       class="login-header-element">
                        Login
                    </a>
                </li>
                <li ng-show="!model.getLoggedIn._id">
                    <a ng-href="#/register"
                       class="register-header-element">
                        Register
                    </a>
                </li>

                <li ng-show="model.getLoggedIn._id">
                    <a ng-href="#/profile/{{model.getLoggedIn._id}}/admin"
                       ng-show="model.getLoggedIn.roles.indexOf('ADMIN')>-1"
                       class="profile-header-element">
                        ADMIN
                    </a>
                </li>
                <li ng-show="model.getLoggedIn._id">
                    <a ng-href="#/profile/{{model.userId}}"
                       class="profile-header-element">
                        Welcome, {{model.getLoggedIn.firstName}}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="login text-center">
    <h3 class="login-element">Login</h3>

    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <form class="form-horizontal" ng-submit="model.login(username,password)">

        <div class="form-group">
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                <input type="text"
                       class="form-control"
                       placeholder="Username"
                       ng-model="username"
                       autofocus="">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                <input type="password"
                       class="form-control"
                       ng-model="password"
                       placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <button type="submit"
                    class="btn btn-block btn-primary">
                Sign in
            </button>
        </div>

        <div class="row security">
            <a ng-href="/auth/google"
               class="btn btn-danger btn-block">
                <span class="fa fa-google-plus"></span>
                Google
            </a>

            <a ng-href="/auth/facebook"
               class="btn btn-primary btn-block">
                <span class="fa fa-facebook"></span>
                Facebook
            </a>
        </div>

        <div class="row text-right">
            <a class="login-element"
               ng-href="#/register">
                Not a member?
            </a>
        </div>

    </form>
</div>
