<div class="container-fluid profile">

    <div class="alert alert-danger"
         ng-show="model.errorMessage">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        {{model.errorMessage}}
    </div>

    <div class="alert alert-success"
         ng-show="model.successMessage">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        {{model.successMessage}}
    </div>

    <form>

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text"
                   ng-model="model.user.firstName"
                   class="form-control"
                   id="first-name"
                   placeholder="Alice">
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text"
                   ng-model="model.user.lastName"
                   class="form-control"
                   id="last-name"
                   placeholder="Wonderland">
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   ng-model="model.user.username"
                   class="form-control"
                   id="username"
                   placeholder="alice" disabled>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   ng-model="model.user.password"
                   class="form-control"
                   id="password"
                   placeholder="alice@123">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   ng-model="model.user.email"
                   class="form-control"
                   id="email"
                   placeholder="alice@wonderland.com">
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel"
                   ng-model="model.user.phone"
                   class="form-control"
                   id="phone"
                   placeholder="7492648910">
        </div>

    </form>

    <div class="form-group">
        <a class="btn btn-block btn-primary"
           data-toggle="modal"
           data-target="#updateModal">
            Update Profile
        </a>
    </div>

    <div class="form-group">
        <a class="btn btn-block btn-primary"
           data-toggle="modal"
           data-target="#deleteModal">
            Delete Profile
        </a>
    </div>

    <div class="form-group">
        <a ng-click="model.logout()"
           class="btn btn-block btn-primary">
            Logout
        </a>
    </div>

    <div class="modal fade" id="updateModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5><button type="button"
                                class="close"
                                data-dismiss="modal">
                        &times;
                    </button>
                    </h5>
                    <h5>Are you sure wanna update your details ?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="modal-button btn btn-default btn-primary"
                            data-dismiss="modal"
                            ng-click="model.updateUser(model.user)">
                        Yes
                    </button>
                    <button type="button"
                            class="modal-button btn btn-default btn-primary"
                            data-dismiss="modal">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5><button type="button"
                                class="close"
                                data-dismiss="modal">
                        &times;
                    </button>
                    </h5>
                    <h5>Are you sure wanna delete your account ?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="modal-button btn btn-default btn-primary"
                            ng-click="model.deleteUser()"
                            data-dismiss="modal">
                        Yes
                    </button>
                    <button type="button"
                            class="modal-button btn btn-default btn-primary"
                            data-dismiss="modal">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
