<div>
    <nav id="header-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a ng-href="#/"><h1>Bon Appétit</h1></a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <div id="collapsable-nav" class="collapse navbar-collapse">
            <ul id="nav-list" class="nav navbar-nav navbar-right">
                <li ng-show="!model.getLoggedIn._id">
                    <a ng-href="#/login"
                       class="login-header-element">
                        Login
                    </a>
                </li>
                <li ng-show="!model.getLoggedIn._id">
                    <a ng-href="#/register"
                       class="register-header-element">
                        Register
                    </a>
                </li>

                <li ng-show="model.getLoggedIn._id">
                    <a ng-href="#/profile/{{model.getLoggedIn._id}}/admin"
                       ng-show="model.getLoggedIn.roles.indexOf('ADMIN')>-1"
                       class="profile-header-element">
                        ADMIN
                    </a>
                </li>
                <li ng-show="model.getLoggedIn._id">
                    <a ng-href="#/profile/{{model.getLoggedIn._id}}"
                       class="profile-header-element">
                        Welcome, {{model.getLoggedIn.firstName}}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div>
    <ul class="cb-slideshow">
        <li><span>Image 01</span></li>
        <li><span>Image 02</span></li>
        <li><span>Image 03</span></li>
        <li><span>Image 04</span></li>
        <li><span>Image 05</span></li>
    </ul>

    <form role="form" ng-submit="model.search(location)">
        <div class="input-group search-bar">
            <input type="text" class="form-control search-box" placeholder="Search for a location..." autofocus="" ng-model="location">
            <a class="input-group-addon search-box btn-primary btn-search" ng-click="model.search(location)">
                <i class="glyphicon glyphicon-search"></i>
            </a>
        </div>
    </form>
</div>