<div>
    <nav id="header-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a ng-href="#/"><h1>Bon Appétit</h1></a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <div ng-include="'views/common/templates/header.view.client.html'"></div>
    </nav>
</div>

<div class="container-fluid admin-landing">
    <h1>ADMIN</h1>
    <ul class="list-group admin-list">
        <li class="list-group-item">
            <a ng-href="#/profile/{{model.userId}}/admin/users">
                Users
            </a>
        </li>
        <li class="list-group-item admin-list">
            <a ng-href="#/profile/{{model.userId}}/admin/reviews">
                Restaurant Reviews
            </a>
        </li>
        <li class="list-group-item admin-list">
            <a ng-href="#/profile/{{model.userId}}/admin/connoisseurs">
                Connoisseurs
            </a>
        </li>
    </ul>
</div>