<div>
    <nav id="header-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a ui-sref="index"><h1>Bon Appétit</h1></a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <div id="collapsable-nav" class="collapse navbar-collapse">
            <ul id="nav-list" class="nav navbar-nav navbar-right">
                <li ng-show="!model.getLoggedIn._id"><a ui-sref="index.login" class="login-header-element">Login</a></li>
                <li ng-show="!model.getLoggedIn._id"><a ui-sref="index.register" class="register-header-element">Register</a></li>
                <li ng-show="model.getLoggedIn._id"><a ui-sref="index.profile" class="profile-header-element">Welcome, {{model.getLoggedIn.firstName}}</a></li>
            </ul>
        </div>
    </nav>
</div>